body {
	background-color: #a2c4c9;
}
.heading {
	text-align: center;
}
.heading img {
	height:75px;
	width:75px;
	border:solid;
	border-radius:20px;
	border-color:grey;
}
.heading h1 {
	font-size:36px;
	margin-top:-5px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color: #2b78e4;
}
hr {
	margin-left:65px;
	margin-right:65px;
}
.item-input {
	text-align:center;
	margin-top:30px;
}
.item-input input[type="text"] {
	border:none;
	border-radius:5px;
	width: 500px;
	text-align: center;
	height:30px;
	display:inline-block;
	background-color:#808080;
	color:white;
}
.item-list {
	text-align:center;
	margin-left:-40px;
}
.item-list ul {
	display:inline-block;
	text-align:center;
	list-style:none;
}
.item-list .need {
	border:none;
	border-radius:5px;
	width: 500px;
	text-align: center;
	height:30px;
	background-color:#303030;
	color:white;
	margin-top:5px;
	font-size:12pt;
	line-height:24pt;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}