body {
	background-color: #a2c4c9;
}
.heading {
	text-align: center;
}
.heading img {
	height:75px;
	width:75px;
	border:solid;
	border-radius:20px;
	border-color:grey;
}
.heading h1 {
	font-size:36px;
	margin-top:-5px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color: #2b78e4;
}
hr {
	margin-left:65px;
	margin-right:65px;
}
.item-input {
	text-align:center;
	margin-top:30px;
}
.item-input input[type="text"] {
	border:none;
	border-radius:5px;
	width: 500px;
	text-align: center;
	height:30px;
	display:table;
	margin:15px auto;
	background-color:#707070;
	color:white;
}
.item-list {
	text-align:center;
	margin-top: 25px;
	width:500px;
	margin: 20px auto;

}
.item-list p {
	display:inline-block;
	text-align:center;
	list-style:none;
}
.item-list .need {
	border:none;
	border-radius:5px;
	width: 500px;
	text-align: center;
	height:30px;
	background-color:#303030;
	color:white;
	margin-top:-6px;
	font-size:12pt;
	line-height:24pt;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.item-list .cross {
	float:left;
	color:#2b78e4;
	cursor:pointer;
	margin-left:10px;
	font-size:1.5em;
	margin-top:-2px;
}
.item-list .check {
	float: right;
	color:#2b78e4 ;
	margin-right:10px;
	cursor:pointer;
	font-size:1.5em;
	margin-top: -2px;
}
.item-list .done {
	border:none;
	border-radius:5px;
	width: 500px;
	text-align: center;
	height:30px;
	background-color:#707070;
	color:white;
	text-decoration:line-through;
	margin-top:-6px;
	font-size:12pt;
	line-height:24pt;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.item-list .uncheck {
	float: right;
	color:#2b78e4 ;
	margin-right:10px;
	cursor:pointer;
	font-size:1.5em;
	margin-top: -2px;
}